<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="../../images/home/classic-nee-tacademy-logo.png" type="image/x-icon" />
		<title>Admin</title>
		<link rel="stylesheet" href="../../stylesheets/admin.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<%- include('../../layout/adminheader') %>
		<section class="mainsection">
			<div class="left"><%- include('../../layout/adminSideBar') %></div>
			<div class="right">
				<div class="preview">
					<h1 class="mb-5 fs-4 fw-bold">Neet Achievements</h1>
					<form
						action="/admin/neetachievements"
						method="post"
						class="d-flex justify-content-center align-items-center flex-column"
						style="width: 100%"
					>
						<div class="input-group flex-nowrap mt-3" style="width: 80%">
							<span class="input-group-text" id="addon-wrapping"
								>Add Seats</span
							>
							<input
								type="number"
								name="seat"
								class="form-control"
								aria-label="Username"
								aria-describedby="addon-wrapping"
								id="uploadlink"
								value="<%= parseInt(seats) %>"
								min="1"
								max="999"
								required
							/>
						</div>
						<div class="input-group flex-nowrap mt-3" style="width: 80%">
							<span class="input-group-text" id="addon-wrapping"
								>Add Consecutive years</span
							>
							<input
								type="number"
								name="years"
								class="form-control"
								aria-label="Username"
								aria-describedby="addon-wrapping"
								id="uploadlink"
								value="<%= parseInt(consecutiveyears) %>"
								min="1"
								max="99"
								required
							/>
						</div>
						<div class="input-group flex-nowrap mt-3" style="width: 80%">
							<span class="input-group-text" id="addon-wrapping"
								>Add Successrate</span
							>
							<input
								type="number"
								name="rate"
								class="form-control"
								aria-label="Username"
								aria-describedby="addon-wrapping"
								id="uploadlink"
								value="<%= parseInt(successrate)  %>"
								min="1"
								max="100"
								required
							/>
						</div>
						<div class="input-group flex-nowrap mt-3" style="width: 80%">
							<span class="input-group-text" id="addon-wrapping"
								>Add Admissions</span
							>
							<input
								type="number"
								name="admissions"
								class="form-control"
								aria-label="Username"
								aria-describedby="addon-wrapping"
								id="uploadlink"
								value="<%= parseInt(admissions) %>"
								min="1"
								max="999"
								required
							/>
						</div>
						<div>
							<button
								type="button"
								class="btn btn-outline-secondary px-3 mt-5 me-5 backbtn"
							>
								Back
							</button>
							<button type="submit" class="btn btn-outline-primary mt-5">
								Submit
							</button>
						</div>
					</form>
				</div>
				<form
					action="/admin/neetachievements?_method=DELETE"
					method="post"
					class="imgform"
				>
					<h1 class="m-5 fs-4 fw-bold">Neet Achievements</h1>

					<table class="table" style="width: 70%;">
						<thead>
							<tr>
								<th scope="col">Seats</th>
								<th scope="col">Consecutiveyears</th>
								<th scope="col">Successrate</th>
								<th scope="col">Admissions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input
										type="text"
										id="linkinput"
										value="<%= seats %>"
										readonly
										style="width: 80%; border: none"
									/>
								</td>
								<td>
									<input
										type="text"
										id="linkinput"
										value="<%= consecutiveyears %>"
										readonly
										style="width: 80%; border: none"
									/>
								</td>
								<td>
									<input
										type="text"
										id="linkinput"
										value="<%= successrate %>"
										readonly
										style="width: 80%; border: none"
									/>
								</td>
								<td>
									<input
										type="text"
										id="linkinput"
										value="<%= admissions %>"
										readonly
										style="width: 80%; border: none"
									/>
								</td>
							
							</tr>
						</tbody>
					</table>
					<div class="buttondiv">
						<button type="button" class="btn btn-outline-primary addbtn px-4">
							Edit
						</button>
					
					</div>
				</form>
			</div>
		</section>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="../../javascripts/admin/home/neetachievements.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
	</body>
</html>
