<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="stylesheets/results.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
		/>
		<link rel="stylesheet" href="stylesheets/chatbot.css" />

		<title>Results</title>
		<style>
			
		.resultsnav{
			background-color: #60efff;
			border-radius: 0% 50% 0% 50%;
            color: rgb(0, 0, 0);
		}
		</style>
	</head>
	<body>
		<%- include('./layout/header') %> <%- include('./chatbot') %>
		<section class="swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<% slider.forEach(i => { %>
				<div class="swiper-slide">
					<img src="<%= i.sliderimg %>" alt="" />
				</div>
				<% }) %>
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>

			<!-- If we need scrollbar -->
			<div class="swiper-scrollbar"></div>
		</section>

		<section class="section2">
			<select
				class="form-select form-select-lg mb-3 dropdown"
				aria-label=".form-select-lg example"
				data-select=""
				>
				
				  <option value="">2020</option>
				
			
			  </select>
			<span class="arrowRight">

			</span>
			<span class="arrowLeft">

			</span>

			<div class="gridcontainer">
				
				<% students.forEach((student)=> { %>
					<div class="griditem1 gridbox">
						<div class="imgDesign">
							
							<img class="imgTopper" src="<%= student.studentimg %>" />
						</div>
						<span class="griditem1span"
							><h3 class="nameStudent"><%= student.name %></h3>
							<p class="scoreStudent"><%= student.score %></p
						></span>
					</div>
				<!-- <div
					class="refbox"
					data-name="<%= student.name %>"
					data-score="<%= student.collegename %>"
					data-img="<%= student.studentimg %>"
				></div> -->
				<% }) %>
				<!-- <div class="griditem1 gridbox">
					<img class="imgTopper" src="" />
					<span class="griditem1span"
						><h3 class="nameStudent"></h3>
						<p class="scoreStudent"></p
					></span>
				</div> -->
				<div class="griditem1 gridbox">
					<div class="imgDesign">
							
						<img class="imgTopper" src="../images/Result/image5.png" />
					</div>
					<span class="griditem1span"
						><h3 class="nameStudent">Shivanii</h3>
						<p class="scoreStudent">Chennai Institute Of Technology</p
					></span>
				</div>
				<div class="griditem1 gridbox idea2">
					<div class="imgDesign">
							
						<img class="imgTopper" src="../images/Result/image4.png" />
					</div>
					<span class="griditem1span"
						><h3 class="nameStudent i2name">Shivanii</h3>
						<p class="scoreStudent i2clg">Chennai Institute Of Technology</p
					></span>
				</div>
				<div class="griditem1 gridbox idea3">
					<div class="imgDesign">
							
						<img class="imgTopper" src="../images/Result/image3.png" />
					</div>
					<span class="griditem1span"
						><h3 class="nameStudent i2name">Shivanii</h3>
						<p class="scoreStudent i2clg">Chennai Institute Of Technology</p
					></span>
				</div>
				<div class="griditem1 gridbox idea4">
					<div class="imgDesign">
							
						<img class="imgTopper" src="../images/Result/image3.png" />
					</div>
					<span class="griditem1span"
						><h3 class="nameStudent i2name">Shivanii</h3>
						<p class="scoreStudent i2clg">Chennai Institute Of Technology</p
					></span>
				</div>
				
				
			</div> 
			<div class="pagination">

					
			</div>
		</section> 

		<%- include('./layout/footer') %>

		<link
			rel="stylesheet"
			href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
		<script src="javascripts/results.js"></script>
		<script src="javascripts/nav.js"></script>
		<!-- <script src="javascripts/common.js"></script> -->
		<script src="javascripts/chatbot.js"></script>
	</body>
</html>
