<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/results.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <title>Results</title>
  </head>
  <body>
    <%- include('./layout/header') %>
    <!-- Swiper -->
    <!-- Slider main container -->
<section class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="../../images/home/img1.jpeg" alt="" /></div>
    <div class="swiper-slide"><img src="../../images/home/img2.jpeg" alt="" /></div>
    <div class="swiper-slide"><img src="../../images/home/img3.jpeg" alt="" /></div>
    <div class="swiper-slide"><img src="../../images/home/img4.jpeg" alt="" /></div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</section>

    <section class="section2">
      <div class="gridcontainer">
        <% students.forEach((student)=> { %>
          <div class="griditem1 gridbox">
            <img src="<%= student.studentimg %>" alt="studentimg1" />
            <span class="griditem1span"
              ><h3><%= student.name %></h3>
              <p><%= student.score %></p></span
            >
          </div>
          <%  }) %>
        
      </div>
    </section>

    <%- include('./layout/footer') %>
    <script src="javascripts/results.js"></script>
    <script src="javascripts/common.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  </body>
</html>















