<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin panel</title>
		<link rel="shortcut icon" href="../../images/home/classic-nee-tacademy-logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../../stylesheets/admin.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="previewTopper">
			<span class="closesvg" style="z-index: 10; height: 100px;width: 200px; right: 20%; top: 8%;">
				<img
				style="z-index: 10;" src="https://img.icons8.com/ios-glyphs/40/000000/macos-close.png"
				/>
				<h5 class="closeText">Close</h5>
			</span>
		</div>
		<%- include('../../layout/adminheader') %>
		<section class="mainsection">
			<div class="left"><%- include('../../layout/adminSideBar') %></div>
			<div class="right succ1 succ2">
				<div class="preview">
					<h1 class="mb-5 fs-4 fw-bold">Student Testimonials</h1>
					<form
						action="/admin/successstories/testimonials"
						method="post"
						class="d-flex justify-content-center align-items-center flex-column"
						style="width: 100%"
						enctype="multipart/form-data"
					>
						<div class="input-group d-flex flex-nowrap mb-3" style="width: 80%">
							<span class="input-group-text" id="addon-wrapping">Add Name</span>
							<input
								type="text"
								name="studentname"
								class="form-control"
								aria-label="studentname"
								aria-describedby="addon-wrapping"
								id="uploadlink"
								placeholder="studentname"
							/>
						</div>
						<div class="input-group d-flex flex-nowrap mb-3" style="width: 80%">
							<span class="input-group-text" id="addon-wrapping"
								>Add Youtubelink</span
							>
							<input
								type="url"
								name="youtubelink"
								class="form-control"
								aria-label="Username"
								aria-describedby="addon-wrapping"
								id="uploadlink"
								placeholder="youtubelink"
							/>
						</div>
						<div class="input-group d-flex flex-nowrap mb-3" style="width: 80%">
							<span class="input-group-text" id="addon-wrapping"
								>Add Image</span
							>
							<input
								type="file"
								name="studentimg"
								accept="image/*"
								class="form-control"
								aria-label="Username"
								aria-describedby="addon-wrapping"
								id="uploadlink"
							/>
						</div>
						<div>
							<button
								type="button"
								class="btn btn-outline-secondary px-3 mt-5 me-5 backbtn"
							>
								Back
							</button>
							<button type="submit" class="btn btn-outline-primary mt-5">
								submit
							</button>
						</div>
					</form>
				</div>
				<form
					action="/admin/successstories/testimonials?_method=DELETE"
					method="post"
					class="imgform"
				>
					<h1 class="m-5 fs-4 fw-bold">Student Testimonials</h1>

					<table class="table" style="width: 70%">
						<thead>
							<tr>
								<th scope="col">Image</th>
								<th scope="col">Name</th>
								<th scope="col">Youtube link</th>
								<th scope="col">Update</th>
							</tr>
						</thead>
						<tbody>
							<% students.forEach(i => { %>
							<tr>
								<td>
									<p class="onclickimg"><%= i.studentimg %></p>
									<span class="currentPreviewSpan btn btn-info"
										>Show Image</span
									>
									<span class="currentSliderimgurl"><%= i.studentimg %></span>
								</td>

								<td>
									<p><%= i.studentname %></p>
								</td>
								<td>
									<p><%= i.youtubelink %></p>
								</td>
								<td>
									<input
										type="checkbox"
										id="checkbox"
										class="updatesCheckbox"
										name="checkbox"
										value="<%= i.cloudinaryname %>"
										style="height: 20px; width: 20px"
									/>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
					<div class="buttondiv">
						<% if (students.length<6) { %>
							<button type="button" class="btn btn-outline-primary addbtn px-4">
								Add
							</button>
						<% }else{ %>
							<p class="text-danger d-flex justify-content-center align-items-center">You have reached your limit</p> 
						<% } %> 
						<button
							type="button"
							class="btn btn-outline-danger submit ms-5 px-3 submitbtn warningcheck"
						>
							Delete
						</button>
					</div>
				</form>
			</div>
			<div></div>
		</section>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
		<script src="../../javascripts/admin/successstories/successstories.js"></script>
	</body>
</html>
